* {
  box-sizing: border-box;
}

:root {
  background-color: #202733;
  font-size: 11px;
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
  --quote-box-color: #313A48;
  --font-color: #CEE3E9;
  --accent-color: #53FFAA;
}


/* TYPOGRAPHY */
h1 {
  color: var(--font-color);
  font-size: 2em;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: -0.26;
}

p {
  letter-spacing: 3.46px;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 24px;

}


/* LAYOUT */
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quoteContainer {
  position: relative;
  text-align: center;
  background-color: var(--quote-box-color);
  margin-top: 120px;
  margin-right: 16px;
  margin-left: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 40px;
  border-radius: 10px;
}

#divider {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

#diceContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  position: sticky;
}

.dice {
  position: absolute;
  display: block;
  margin-top: -10%;
  padding: 20px;
  height: 64px;
  width: 64px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dice:hover {
  box-shadow: 0 0 0.5em 0.25em var(--accent-color)
}


/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .dice {
    margin-top: -10%;
  }
}

@media screen and (min-width: 580px) {
  body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dice {
    margin-top: -7%;
  }

  #quoteContainer {
    max-width: 540px;
    
  }

}